In [1]:
import base64
import htisec
user=base64.b64decode(b'YWNoZWNj').decode()
pwd=base64.b64decode(b'YjgyMDkxMQ==').decode()
web1=htisec.htisec_web()
txt=web1.login_1(user,pwd)

import OK
200

In [2]:
otp='596773'
web1.login_2(txt,otp)

1

In [3]:
import pandas  as pd
res=pd.DataFrame(index=['hold','close','total'])
hh=web1.get_orderlist()
tradelist=web1.get_tradelist(hh)
hold=web1.get_hold(hh)

point1=50
charges=67.08
c_point=round(charges/point1,1)

#hold-----------
hold_b=hold.loc[hold.trade_qty>0,'trade_qty'].sum()
hold_s=hold.loc[hold.trade_qty<0,'trade_qty'].sum()
hold_t=hold_b+hold_s
hold_sum=sum(hold['trade_qty']*hold['trade_price'])
hold_cost=round(hold_sum/hold_t if hold_t!=0 else 0,1)
hold_cost=-hold_cost if hold_t<0 else hold_cost
hold_PointT=round(hold_cost+c_point if hold_t<0 else hold_cost+c_point,1)
res.loc['hold','Bqty']=hold_b
res.loc['hold','Sqty']=hold_s
res.loc['hold','Hqty']=hold_t
res.loc['hold','Sum']=hold_sum
res.loc['hold','Cost']=hold_cost
res.loc['hold','Charges']=abs(hold_t)*charges
res.loc['hold','PointT']=hold_PointT

#close-----------
close_b=tradelist.loc[tradelist.trade_qty>0,'trade_qty'].sum()
close_s=tradelist.loc[tradelist.trade_qty<0,'trade_qty'].sum()
close_t=min(close_b,-close_s)
lots_sum=sum(tradelist['trade_qty']*tradelist['trade_price'])
c_pointT=-lots_sum-abs(hold_sum) if hold_t<0 else hold_sum-lots_sum
c_point_net=c_pointT-close_t*c_point
c_profit=c_pointT*point1
c_profit_net=c_profit-close_t*charges
res.loc['close','Bqty']=close_b
res.loc['close','Sqty']=close_s
res.loc['close','Hqty']=close_t
res.loc['close','Sum']=lots_sum
res.loc['close','Charges']=close_t*charges
res.loc['close','PointT']=c_pointT
res.loc['close','Point_NET']=c_point_net
res.loc['close','Point_AVG']=round(c_pointT/close_t-c_point,1) if close_t!=0 else 0
res.loc['close','Profit']=c_profit
res.loc['close','Profit_NET']=c_profit_net
res.loc['close','Profit_AVG']=round((c_profit-close_t*charges)/close_t,2) if close_t!=0 else 0

#total
total_t=max(close_b,-close_s)
Hqty=close_b+close_s
total_PointT=round((lots_sum+total_t*c_point)/abs(Hqty) if Hqty!=0 else 0,1)
Point_NET=-total_PointT+hold_PointT if Hqty<0 else total_PointT-hold_PointT
res.loc['total','Bqty']=close_b
res.loc['total','Sqty']=close_s
res.loc['total','Hqty']=Hqty
res.loc['total','Sum']=lots_sum
res.loc['total','Charges']=total_t*charges
res.loc['total','Cost']=round(lots_sum/abs(Hqty)  if Hqty!=0 else 0,1)
res.loc['total','PointT']=total_PointT
res.loc['total','Point_NET']=Point_NET

rng=range(8,-7,-1)
open_lots=range(0,14,2)
cols=[ str(i)+'W' for i in rng]
trade=pd.DataFrame(columns=cols)
for ll in open_lots:
    for i in rng:   
        qty=0
        if ll==0 and Hqty!=0:
            qty=abs(Hqty)
        elif ll>0:
            qty=ll
        if qty>0:            
            winp=(i*10000/point1-c_point_net)/qty+c_point
            if ll==0:
                p_cost=round(hold_cost+winp,1)
                index='Hold'+str(Hqty)
                trade.loc[index,str(i)+'W']=p_cost
            else:
                winp=round(winp,1)
                index='Lots'+str(ll)
                trade.loc[index,str(i)+'W']=winp

res

Get_url https://futures.htisec.com/wf/enquiryOrderList.do 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4268&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4269&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4270&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4272&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4273&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4274&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4275&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4277&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4278&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4279&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4280&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4282&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4283&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4284&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4285&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4288&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4290&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4291&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4295&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4298&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4301&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4302&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4303&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4305&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4306&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4307&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4308&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4309&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4310&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4311&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4313&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4314&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4315&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4316&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4317&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4318&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4319&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4320&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4321&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4322&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4323&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4324&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4325&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4326&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4327&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4328&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4329&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4330&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4334&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4336&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4341&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4342&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4347&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4348&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4351&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4354&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4355&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4357&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4362&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4364&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4365&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4366&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4367&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4368&has_TS_falg=Y 200,Re:[]
Get_url https://futures.htisec.com/wf/enquiryOrderDetail.do?acc_order_no=4369&has_TS_falg=Y 200,Re:[]
{'HSIK8': 0}

,Bqty,Sqty,Hqty,Sum,Cost,Charges,PointT,Point_NET,Point_AVG,Profit,Profit_NET,Profit_AVG
hold,0.0,0.0,0.0,0.0,0.0,0.00,1.3,NaN,NaN,NaN,NaN,NaN
close,36.0,-36.0,36.0,1320.0,NaN,2414.88,-1320.0,-1366.8,-38.0,-66000.0,-68414.88,-1900.41
total,36.0,-36.0,0.0,1320.0,0.0,2414.88,0.0,-1.3,NaN,NaN,NaN,NaN

In [25]:
from jy import HS

list1=tradelist
list1['buy']=list1[list1.trade_qty>0]['trade_qty']
list1['sell']=-list1[list1.trade_qty<0]['trade_qty']
df1=list1[['buy','sell','trade_price','trade_time']]
df2=df1.fillna(0)
df2.columns=['buy','sell','price','time']
h=HS()
df2=h.ray(df2)

#df2[df2.序号==df2.序号.max()]
df2.tail(50)

,时间,开仓,当前价,持仓,原始成本,会话成本,净会话成本,此笔盈利,会话盈利,总盈利,平均盈利,持仓成本,净持仓成本,利润,净利润,手续费,已平仓,序号
22,2018-05-23 13:00:06,-1,30862.0,3,30876.67,30853.67,30863.06,20.0,69.0,289.0,28.90,30780.33,30797.77,14450.0,13678.58,771.42,10,3
23,2018-05-23 13:02:07,-1,30858.0,2,30876.00,30851.50,30860.89,-20.0,49.0,269.0,24.45,30741.50,30758.94,13450.0,12645.04,804.96,11,3
24,2018-05-23 13:02:07,-1,30858.0,1,30876.00,30845.00,30854.39,-18.0,31.0,251.0,20.92,30625.00,30642.44,12550.0,11711.50,838.50,12,3
25,2018-05-23 13:03:24,-1,30858.0,0,0.00,0.00,-9.39,-18.0,13.0,233.0,17.92,-233.00,-215.56,11650.0,10777.96,872.04,13,3
26,2018-05-23 13:08:26,-1,30856.0,-1,30856.00,30856.00,30854.66,0.0,0.0,233.0,17.92,31089.00,31107.78,11650.0,10744.42,905.58,13,4
27,2018-05-23 13:11:09,1,30844.0,0,0.00,0.00,-1.34,12.0,12.0,245.0,17.50,-245.00,-226.22,12250.0,11310.88,939.12,14,4
28,2018-05-23 13:12:51,-1,30856.0,-1,30856.00,30856.00,30854.66,0.0,0.0,245.0,17.50,31101.00,31121.12,12250.0,11277.34,972.66,14,5
29,2018-05-23 13:12:40,-1,30854.0,-2,30855.00,30855.00,30852.32,0.0,0.0,245.0,17.50,30977.50,30998.97,12250.0,11243.80,1006.20,14,5
30,2018-05-23 13:15:01,1,30835.0,-1,30856.00,30875.00,30872.32,19.0,19.0,264.0,17.60,31120.00,31141.47,13200.0,12160.26,1039.74,15,5
31,2018-05-23 13:16:12,1,30838.0,0,0.00,0.00,-2.68,18.0,37.0,282.0,17.62,-282.00,-260.53,14100.0,13026.72,1073.28,16,5
32,2018-05-23 13:20:40,-1,30840.0,-1,30840.00,30840.00,30838.66,0.0,0.0,282.0,17.62,31122.00,31144.81,14100.0,12993.18,1106.82,16,6
33,2018-05-23 13:27:32,-1,30847.0,-2,30843.50,30843.50,30840.82,0.0,0.0,282.0,17.62,30984.50,31008.65,14100.0,12959.64,1140.36,16,6
34,2018-05-23 13:27:39,-1,30849.0,-3,30845.33,30845.33,30841.31,0.0,0.0,282.0,17.62,30939.33,30964.82,14100.0,12926.10,1173.90,16,6
35,2018-05-23 13:28:43,-1,30843.0,-4,30844.75,30844.75,30839.38,0.0,0.0,282.0,17.62,30915.25,30942.08,14100.0,12892.56,1207.44,16,6
36,2018-05-23 13:28:46,-1,30844.0,-5,30844.60,30844.60,30837.89,0.0,0.0,282.0,17.62,30901.00,30929.17,14100.0,12859.02,1240.98,16,6
37,2018-05-23 13:32:51,1,30821.0,-4,30844.75,30850.50,30843.79,23.0,23.0,305.0,17.94,30921.00,30949.17,15250.0,13975.48,1274.52,17,6
38,2018-05-23 13:32:51,1,30821.0,-3,30845.33,30860.33,30853.62,22.0,45.0,327.0,18.17,30954.33,30982.50,16350.0,15041.94,1308.06,18,6
39,2018-05-23 13:33:24,1,30811.0,-2,30843.50,30885.00,30878.29,38.0,83.0,365.0,19.21,31026.00,31054.17,18250.0,16908.40,1341.60,19,6
40,2018-05-23 13:33:34,1,30808.0,-1,30840.00,30962.00,30955.29,39.0,122.0,404.0,20.20,31244.00,31272.17,20200.0,18824.86,1375.14,20,6
41,2018-05-23 13:33:44,1,30808.0,0,0.00,0.00,-6.71,32.0,154.0,436.0,20.76,-436.00,-407.83,21800.0,20391.32,1408.68,21,6
42,2018-05-23 13:59:04,1,30835.0,1,30835.00,30835.00,30836.34,0.0,0.0,436.0,20.76,30399.00,30428.52,21800.0,20357.78,1442.22,21,7
43,2018-05-23 14:11:58,-1,30847.0,0,0.00,0.00,-1.34,12.0,12.0,448.0,20.36,-448.00,-418.48,22400.0,20924.24,1475.76,22,7
44,2018-05-23 15:00:21,1,30752.0,1,30752.00,30752.00,30753.34,0.0,0.0,448.0,20.36,30304.00,30334.86,22400.0,20890.70,1509.30,22,8
45,2018-05-23 15:00:29,1,30751.0,2,30751.50,30751.50,30754.18,0.0,0.0,448.0,20.36,30527.50,30559.70,22400.0,20857.16,1542.84,22,8
46,2018-05-23 15:00:28,1,30754.0,3,30752.33,30752.33,30756.35,0.0,0.0,448.0,20.36,30603.00,30636.54,22400.0,20823.62,1576.38,22,8
47,2018-05-23 15:03:27,1,30735.0,4,30748.00,30748.00,30753.37,0.0,0.0,448.0,20.36,30636.00,30670.88,22400.0,20790.08,1609.92,22,8
48,2018-05-23 15:06:13,-1,30750.0,3,30752.33,30747.33,30752.70,15.0,15.0,463.0,20.13,30598.00,30632.88,23150.0,21506.54,1643.46,23,8
49,2018-05-23 15:12:08,1,30729.0,4,30746.50,30742.75,30749.46,0.0,15.0,463.0,20.13,30630.75,30666.97,23150.0,21473.00,1677.00,23,8
50,2018-05-23 15:14:02,1,30729.0,5,30743.00,30740.00,30748.05,0.0,15.0,463.0,20.13,30650.40,30687.96,23150.0,21439.46,1710.54,23,8
51,2018-05-23 15:26:53,1,30691.0,6,30734.33,30731.83,30741.22,0.0,15.0,463.0,20.13,30657.17,30696.08,23150.0,21405.92,1744.08,23,8
52,2018-05-23 15:26:58,1,30693.0,7,30728.43,30726.29,30737.02,0.0,15.0,463.0,20.13,30662.29,30702.54,23150.0,21372.38,1777.62,23,8
53,2018-05-23 15:32:13,1,30680.0,8,30722.38,30720.50,30732.57,0.0,15.0,463.0,20.13,30664.50,30706.09,23150.0,21338.84,1811.16,23,8
54,2018-05-23 15:33:01,1,30672.0,9,30716.78,30715.11,30728.53,0.0,15.0,463.0,20.13,30665.33,30708.26,23150.0,21305.30,1844.70,23,8
55,2018-05-23 15:39:16,1,30670.0,10,30712.10,30710.60,30725.36,0.0,15.0,463.0,20.13,30665.80,30710.07,23150.0,21271.76,1878.24,23,8
56,2018-05-23 15:43:27,1,30654.0,11,30706.82,30705.45,30721.55,0.0,15.0,463.0,20.13,30664.73,30710.34,23150.0,21238.22,1911.78,23,8
57,2018-05-23 15:43:32,1,30652.0,12,30702.25,30701.00,30718.44,0.0,15.0,463.0,20.13,30663.67,30710.63,23150.0,21204.68,1945.32,23,8
58,2018-05-23 15:45:20,1,30661.0,13,30699.08,30697.92,30716.70,0.0,15.0,463.0,20.13,30663.46,30711.76,23150.0,21171.14,1978.86,23,8
59,2018-05-23 16:10:12,-1,30553.0,12,30702.25,30710.00,30728.78,-108.0,-93.0,355.0,14.79,30672.67,30720.97,17750.0,15737.60,2012.40,24,8
60,2018-05-23 16:14:33,-1,30563.0,11,30706.82,30723.36,30742.14,-89.0,-182.0,266.0,10.64,30682.64,30730.94,13300.0,11254.06,2045.94,25,8
61,2018-05-23 16:14:34,-1,30563.0,10,30712.10,30739.40,30758.18,-91.0,-273.0,175.0,6.73,30694.60,30742.90,8750.0,6670.52,2079.48,26,8
62,2018-05-23 16:17:29,-1,30563.0,9,30716.78,30759.00,30777.78,-107.0,-380.0,68.0,2.52,30709.22,30757.52,3400.0,1286.98,2113.02,27,8
63,2018-05-23 16:17:29,-1,30563.0,8,30722.38,30783.50,30802.28,-109.0,-489.0,-41.0,-1.46,30727.50,30775.80,-2050.0,-4196.56,2146.56,28,8
64,2018-05-23 16:17:29,-1,30562.0,7,30728.43,30815.14,30833.92,-118.0,-607.0,-159.0,-5.48,30751.14,30799.44,-7950.0,-10130.10,2180.10,29,8
65,2018-05-23 16:17:29,-1,30562.0,6,30734.33,30857.33,30876.11,-131.0,-738.0,-290.0,-9.67,30782.67,30830.97,-14500.0,-16713.64,2213.64,30,8
66,2018-05-23 16:17:22,-1,30561.0,5,30743.00,30916.60,30935.38,-130.0,-868.0,-420.0,-13.55,30827.00,30875.30,-21000.0,-23247.18,2247.18,31,8
67,2018-05-23 16:17:22,-1,30561.0,4,30746.50,31005.50,31024.28,-168.0,-1036.0,-588.0,-18.38,30893.50,30941.80,-29400.0,-31680.72,2280.72,32,8
68,2018-05-23 16:17:35,-1,30562.0,3,30752.33,31153.33,31172.11,-167.0,-1203.0,-755.0,-22.88,31004.00,31052.30,-37750.0,-40064.26,2314.26,33,8
69,2018-05-23 16:17:35,-1,30562.0,2,30751.50,31449.00,31467.78,-192.0,-1395.0,-947.0,-27.85,31225.00,31273.30,-47350.0,-49697.80,2347.80,34,8
70,2018-05-23 16:17:44,-1,30565.0,1,30752.00,32333.00,32351.78,-186.0,-1581.0,-1133.0,-32.37,31885.00,31933.30,-56650.0,-59031.34,2381.34,35,8
71,2018-05-23 16:17:44,-1,30565.0,0,0.00,0.00,-18.78,-187.0,-1768.0,-1320.0,-36.67,1320.00,1368.30,-66000.0,-68414.88,2414.88,36,8

In [23]:
df2

,时间,开仓,当前价,持仓,原始成本,会话成本,净会话成本,此笔盈利,会话盈利,总盈利,平均盈利,持仓成本,净持仓成本,利润,净利润,手续费,已平仓,序号
0,2018-05-23 09:16:06,-1,31080.0,-1,31080.00,31080.00,31078.66,0.0,0.0,0.0,0.00,31080.00,31081.34,0.0,-33.54,33.54,0,0
1,2018-05-23 09:16:03,-1,31071.0,-2,31075.50,31075.50,31072.82,0.0,0.0,0.0,0.00,31075.50,31078.18,0.0,-67.08,67.08,0,0
2,2018-05-23 09:17:01,1,31050.0,-1,31080.00,31101.00,31098.32,21.0,21.0,21.0,21.00,31101.00,31103.68,1050.0,949.38,100.62,1,0
3,2018-05-23 09:21:37,1,31052.0,0,0.00,0.00,-2.68,28.0,49.0,49.0,24.50,-49.00,-46.32,2450.0,2315.84,134.16,2,0
4,2018-05-23 09:30:38,-1,30979.0,-1,30979.00,30979.00,30977.66,0.0,0.0,49.0,24.50,31028.00,31032.02,2450.0,2282.30,167.70,2,1
5,2018-05-23 09:30:46,-1,30985.0,-2,30982.00,30982.00,30979.32,0.0,0.0,49.0,24.50,31006.50,31011.87,2450.0,2248.76,201.24,2,1
6,2018-05-23 09:31:20,-1,31016.0,-3,30993.33,30993.33,30989.31,0.0,0.0,49.0,24.50,31009.67,31016.38,2450.0,2215.22,234.78,2,1
7,2018-05-23 09:32:08,1,30973.0,-2,30982.00,31003.50,30999.48,43.0,43.0,92.0,30.67,31028.00,31034.71,4600.0,4331.68,268.32,3,1
8,2018-05-23 09:33:22,1,30921.0,-1,30979.00,31086.00,31081.98,64.0,107.0,156.0,39.00,31135.00,31141.71,7800.0,7498.14,301.86,4,1
9,2018-05-23 09:33:36,1,30921.0,0,0.00,0.00,-4.02,58.0,165.0,214.0,42.80,-214.00,-207.29,10700.0,10364.60,335.40,5,1
10,2018-05-23 10:09:33,1,30926.0,1,30926.00,30926.00,30927.34,0.0,0.0,214.0,42.80,30712.00,30720.05,10700.0,10331.06,368.94,5,2
11,2018-05-23 10:11:53,-1,30932.0,0,0.00,0.00,-1.34,6.0,6.0,220.0,36.67,-220.00,-211.95,11000.0,10597.52,402.48,6,2
12,2018-05-23 10:35:15,1,30876.0,1,30876.00,30876.00,30877.34,0.0,0.0,220.0,36.67,30656.00,30665.39,11000.0,10563.98,436.02,6,3
13,2018-05-23 10:35:36,1,30876.0,2,30876.00,30876.00,30878.68,0.0,0.0,220.0,36.67,30766.00,30776.73,11000.0,10530.44,469.56,6,3
14,2018-05-23 10:38:00,1,30878.0,3,30876.67,30876.67,30880.69,0.0,0.0,220.0,36.67,30803.33,30815.40,11000.0,10496.90,503.10,6,3
15,2018-05-23 11:13:59,1,30812.0,4,30860.50,30860.50,30865.87,0.0,0.0,220.0,36.67,30805.50,30818.92,11000.0,10463.36,536.64,6,3
16,2018-05-23 11:16:51,-1,30825.0,3,30876.67,30872.33,30877.70,13.0,13.0,233.0,33.29,30799.00,30812.42,11650.0,11079.82,570.18,7,3
17,2018-05-23 11:21:50,1,30842.0,4,30868.00,30864.75,30871.46,0.0,13.0,233.0,33.29,30809.75,30824.51,11650.0,11046.28,603.72,7,3
18,2018-05-23 11:41:43,1,30829.0,5,30860.20,30857.60,30865.65,0.0,13.0,233.0,33.29,30813.60,30829.70,11650.0,11012.74,637.26,7,3
19,2018-05-23 11:50:23,1,30836.0,6,30856.17,30854.00,30863.39,0.0,13.0,233.0,33.29,30817.33,30834.77,11650.0,10979.20,670.80,7,3
20,2018-05-23 11:58:43,-1,30843.0,5,30860.20,30856.20,30865.59,7.0,20.0,240.0,30.00,30812.20,30829.64,12000.0,11295.66,704.34,8,3
21,2018-05-23 13:00:05,-1,30858.0,4,30868.00,30855.75,30865.14,29.0,49.0,269.0,29.89,30800.75,30818.19,13450.0,12712.12,737.88,9,3
22,2018-05-23 13:00:06,-1,30862.0,3,30876.67,30853.67,30863.06,20.0,69.0,289.0,28.90,30780.33,30797.77,14450.0,13678.58,771.42,10,3
23,2018-05-23 13:02:07,-1,30858.0,2,30876.00,30851.50,30860.89,-20.0,49.0,269.0,24.45,30741.50,30758.94,13450.0,12645.04,804.96,11,3
24,2018-05-23 13:02:07,-1,30858.0,1,30876.00,30845.00,30854.39,-18.0,31.0,251.0,20.92,30625.00,30642.44,12550.0,11711.50,838.50,12,3
25,2018-05-23 13:03:24,-1,30858.0,0,0.00,0.00,-9.39,-18.0,13.0,233.0,17.92,-233.00,-215.56,11650.0,10777.96,872.04,13,3
26,2018-05-23 13:08:26,-1,30856.0,-1,30856.00,30856.00,30854.66,0.0,0.0,233.0,17.92,31089.00,31107.78,11650.0,10744.42,905.58,13,4
27,2018-05-23 13:11:09,1,30844.0,0,0.00,0.00,-1.34,12.0,12.0,245.0,17.50,-245.00,-226.22,12250.0,11310.88,939.12,14,4
28,2018-05-23 13:12:51,-1,30856.0,-1,30856.00,30856.00,30854.66,0.0,0.0,245.0,17.50,31101.00,31121.12,12250.0,11277.34,972.66,14,5
29,2018-05-23 13:12:40,-1,30854.0,-2,30855.00,30855.00,30852.32,0.0,0.0,245.0,17.50,30977.50,30998.97,12250.0,11243.80,1006.20,14,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2018-05-23 13:59:04,1,30835.0,1,30835.00,30835.00,30836.34,0.0,0.0,436.0,20.76,30399.00,30428.52,21800.0,20357.78,1442.22,21,7
43,2018-05-23 14:11:58,-1,30847.0,0,0.00,0.00,-1.34,12.0,12.0,448.0,20.36,-448.00,-418.48,22400.0,20924.24,1475.76,22,7
44,2018-05-23 15:00:21,1,30752.0,1,30752.00,30752.00,30753.34,0.0,0.0,448.0,20.36,30304.00,30334.86,22400.0,20890.70,1509.30,22,8
45,2018-05-23 15:00:29,1,30751.0,2,30751.50,30751.50,30754.18,0.0,0.0,448.0,20.36,30527.50,30559.70,22400.0,20857.16,1542.84,22,8
46,2018-05-23 15:00:28,1,30754.0,3,30752.33,30752.33,30756.35,0.0,0.0,448.0,20.36,30603.00,30636.54,22400.0,20823.62,1576.38,22,8
47,2018-05-23 15:03:27,1,30735.0,4,30748.00,30748.00,30753.37,0.0,0.0,448.0,20.36,30636.00,30670.88,22400.0,20790.08,1609.92,22,8
48,2018-05-23 15:06:13,-1,30750.0,3,30752.33,30747.33,30752.70,15.0,15.0,463.0,20.13,30598.00,30632.88,23150.0,21506.54,1643.46,23,8
49,2018-05-23 15:12:08,1,30729.0,4,30746.50,30742.75,30749.46,0.0,15.0,463.0,20.13,30630.75,30666.97,23150.0,21473.00,1677.00,23,8
50,2018-05-23 15:14:02,1,30729.0,5,30743.00,30740.00,30748.05,0.0,15.0,463.0,20.13,30650.40,30687.96,23150.0,21439.46,1710.54,23,8
51,2018-05-23 15:26:53,1,30691.0,6,30734.33,30731.83,30741.22,0.0,15.0,463.0,20.13,30657.17,30696.08,23150.0,21405.92,1744.08,23,8
52,2018-05-23 15:26:58,1,30693.0,7,30728.43,30726.29,30737.02,0.0,15.0,463.0,20.13,30662.29,30702.54,23150.0,21372.38,1777.62,23,8
53,2018-05-23 15:32:13,1,30680.0,8,30722.38,30720.50,30732.57,0.0,15.0,463.0,20.13,30664.50,30706.09,23150.0,21338.84,1811.16,23,8
54,2018-05-23 15:33:01,1,30672.0,9,30716.78,30715.11,30728.53,0.0,15.0,463.0,20.13,30665.33,30708.26,23150.0,21305.30,1844.70,23,8
55,2018-05-23 15:39:16,1,30670.0,10,30712.10,30710.60,30725.36,0.0,15.0,463.0,20.13,30665.80,30710.07,23150.0,21271.76,1878.24,23,8
56,2018-05-23 15:43:27,1,30654.0,11,30706.82,30705.45,30721.55,0.0,15.0,463.0,20.13,30664.73,30710.34,23150.0,21238.22,1911.78,23,8
57,2018-05-23 15:43:32,1,30652.0,12,30702.25,30701.00,30718.44,0.0,15.0,463.0,20.13,30663.67,30710.63,23150.0,21204.68,1945.32,23,8
58,2018-05-23 15:45:20,1,30661.0,13,30699.08,30697.92,30716.70,0.0,15.0,463.0,20.13,30663.46,30711.76,23150.0,21171.14,1978.86,23,8
59,2018-05-23 16:10:12,-1,30553.0,12,30702.25,30710.00,30728.78,-108.0,-93.0,355.0,14.79,30672.67,30720.97,17750.0,15737.60,2012.40,24,8
60,2018-05-23 16:14:33,-1,30563.0,11,30706.82,30723.36,30742.14,-89.0,-182.0,266.0,10.64,30682.64,30730.94,13300.0,11254.06,2045.94,25,8
61,2018-05-23 16:14:34,-1,30563.0,10,30712.10,30739.40,30758.18,-91.0,-273.0,175.0,6.73,30694.60,30742.90,8750.0,6670.52,2079.48,26,8
62,2018-05-23 16:17:29,-1,30563.0,9,30716.78,30759.00,30777.78,-107.0,-380.0,68.0,2.52,30709.22,30757.52,3400.0,1286.98,2113.02,27,8
63,2018-05-23 16:17:29,-1,30563.0,8,30722.38,30783.50,30802.28,-109.0,-489.0,-41.0,-1.46,30727.50,30775.80,-2050.0,-4196.56,2146.56,28,8
64,2018-05-23 16:17:29,-1,30562.0,7,30728.43,30815.14,30833.92,-118.0,-607.0,-159.0,-5.48,30751.14,30799.44,-7950.0,-10130.10,2180.10,29,8
65,2018-05-23 16:17:29,-1,30562.0,6,30734.33,30857.33,30876.11,-131.0,-738.0,-290.0,-9.67,30782.67,30830.97,-14500.0,-16713.64,2213.64,30,8
66,2018-05-23 16:17:22,-1,30561.0,5,30743.00,30916.60,30935.38,-130.0,-868.0,-420.0,-13.55,30827.00,30875.30,-21000.0,-23247.18,2247.18,31,8
67,2018-05-23 16:17:22,-1,30561.0,4,30746.50,31005.50,31024.28,-168.0,-1036.0,-588.0,-18.38,30893.50,30941.80,-29400.0,-31680.72,2280.72,32,8
68,2018-05-23 16:17:35,-1,30562.0,3,30752.33,31153.33,31172.11,-167.0,-1203.0,-755.0,-22.88,31004.00,31052.30,-37750.0,-40064.26,2314.26,33,8
69,2018-05-23 16:17:35,-1,30562.0,2,30751.50,31449.00,31467.78,-192.0,-1395.0,-947.0,-27.85,31225.00,31273.30,-47350.0,-49697.80,2347.80,34,8
70,2018-05-23 16:17:44,-1,30565.0,1,30752.00,32333.00,32351.78,-186.0,-1581.0,-1133.0,-32.37,31885.00,31933.30,-56650.0,-59031.34,2381.34,35,8
71,2018-05-23 16:17:44,-1,30565.0,0,0.00,0.00,-18.78,-187.0,-1768.0,-1320.0,-36.67,1320.00,1368.30,-66000.0,-68414.88,2414.88,36,8